<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<script>

drange=function(start, stop, step){

    i=1;
    ret=[];
    ret[0]=start;
    while (ret[i-1]<stop){
        ret[i]=ret[i-1]+step;
        i++;
    }
    return ret;

}

logistic_map=function(x_start,x_end,r_start,r_end,r_step){
    v_r=drange(r_start,r_end,r_step)
    ret=[]
    i=0;
    k=0
    //console.log("v_r.length");
    //console.log(v_r.length);
    while (i<v_r.length){
        r=v_r[i];
        x=x_start;
        s=0;
        while (s<500){

            x=r*x*(1-x);

            if (s>200 && (x<=x_end)){
                ret[k]={"x":r,"y":x}
                k++;
            }
            s++;
        }
        i++;
    }
    //console.log(ret);
    return ret;
}
var chart=null;

range_change_event_handler=function(e){


    //console.log(e);
    if (e.trigger != "reset"){
    range_change([e.axisX[0]["viewportMinimum"],e.axisX[0]["viewportMaximum"]],
            [e.axisY[0]["viewportMinimum"],e.axisY[0]["viewportMaximum"]])
    }else{
        reset();
    }

}

range_change=function(xlim,ylim){


    step=(xlim[1]-xlim[0])/400.0;
    //console.log(step);
    p=logistic_map(ylim[0],
            ylim[1],
            xlim[0],
            xlim[1],step);
    chart.options.data[0].dataPoints = p;
    chart.render();
}

click_event_handler=function(e){

    //console.log(e);
    cobweb_update(e.dataPoint.x,e.dataPoint.y)


}
var chart2=null;
cobweb_update=function(r,x0){

    chart2.options.data[0].dataPoints=create_serie_identidade(0,1,100);    
     
    chart2.options.data[1].dataPoints=create_serie_logistica(r,0,1,100);
    chart2.options.data[2].dataPoints=create_serie_cobweb(r,x0);
    chart2.render()
}

create_serie_identidade=function(x_start,x_end,n){
    step=(x_end-x_start)/n;
    v_x=drange(x_start,x_end,step);
    ret=[];
    k=0;
    while (k<n){
        ret[k]={"x":v_x[k],"y":v_x[k]};
        k+=1;
    }
    return ret;
}
create_serie_logistica=function(r,x_start,x_end,n){
    step=(x_end-x_start)/n
    v_x=drange(x_start,x_end,step)
    ret=[];
    k=0;
    while (k<n){
        ret[k]={"x":v_x[k],"y":r*v_x[k]*(1-v_x[k])};
        k+=1;
    }
    return ret;
}
fn_logistica=function(r,x){
    return r*x*(1-x);
}

create_serie_cobweb=function(r,x0){

    ret=[];
    x=x0;
    y=0;
    i=1;
    ret[0]={"x":x,"y":y};
    while (i<100){
        
        y=fn_logistica(r,x);
        
        ret[i]={"x":x,"y":y};
        x=y;
        ret[i+1]={"x":x,"y":y};
        i+=2;
    }
    return ret;
}






 

window.onload = function () {

    p=logistic_map(0.1,1,2.4,4,0.01);

 chart = new CanvasJS.Chart("chartContainer", {
    title:{
        text: "Bifurcation diagram"
    },
    theme: "light2",
    animationEnabled: false,
    zoomEnabled: true,
    zoomType:"xy",
    rangeChanging:range_change_event_handler,
    axisX: {
        title:"r"
    },
    axisY:{
        title: "x",
            maximum: 1,
            minimum: 0,
    },
    data: [{
        mouseover:click_event_handler,
        click:click_event_handler,
        markerType:"circle",
        markerSize:1,
        markerColor: "#000080",
        type: "scatter",
        toolTipContent:null,
        //toolTipContent: "<b>r: </b>{x}<br/><b>x: </b>{y}",
        dataPoints: p

    }]
});
chart.render();


identidade=create_serie_identidade(0,1,100);
map_fn_serie=create_serie_logistica(2.8,0,1,100);
cobweb_serie=create_serie_cobweb(2.8,0.63);

chart2 = new CanvasJS.Chart("chartContainer2", {
    animationEnabled: false,
    theme: "light2",
    title:{
        text: "Cobweb diagram"
    },
    axisY:{
        includeZero: false
    },
    data: [{
         lineColor: "black",
        type: "line",
        dataPoints: identidade
    },{
         lineColor: "black",
        type: "line",
        dataPoints: map_fn_serie
    },{
         lineColor: "red",
        type: "line",
        dataPoints: cobweb_serie
    },

    ]
});
chart2.render();

//Resetting the axis programatically by setting viewportMinimum and viewportMaximum to null

reset=function(){
    chart.axisX[0].set("viewportMinimum", null, false);
    chart.axisX[0].set("viewportMaximum", null, false);


    chart.axisY[0].set("viewportMinimum", null, false);
    chart.axisY[0].set("viewportMaximum", null, false);
    //range_change([chart.axisX[0]["viewportMinimum"],chart.axisX[0]["viewportMaximum"]],
      //      [chart.axisY[0]["viewportMinimum"],chart.axisY[0]["viewportMaximum"]])
    p=logistic_map(0.1,
            1,
            2.4,
            4,0.01);
    chart.options.data[0].dataPoints = p;
    chart.render();

}
$("#zoomPanButton").click(function(){
    $(".canvasjs-chart-toolbar button:eq(0)").click();
    return false;
});
$("#resetButton").click(reset);

}
</script>
</head>
<body>
<div style="width: 100%; overflow: hidden;">
<div id="chartContainer" style="height: 500px; max-width: 620px;float: left;"></div>
<div id="chartContainer2" style="height: 400px; max-width: 420px;margin-left: 620px;"></div>

</div>
<!--button id="zoomPanButton">Zoom/Pan</button-->
<button id="resetButton">Reset</button>
<script src="/static/jquery-3.2.1.min.js"></script>

<script src="/static/canvasjs.min.js"></script>
</body>
</html>