<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">

</head>
<body>
<div style="width: 100%; overflow: hidden;">
<div id="chartContainer" style="height: 500px; max-width: 620px;float: left;"></div>
<div id="chartContainer2" style="height: 400px; max-width: 420px;margin-left: 620px;"></div>

</div>
<!--button id="zoomPanButton">Zoom/Pan</button-->
<label>Número de passos em x</label><input id="x_n_step" type="text" value="10">
<br>
<label>Número de passos em y</label><input id="y_n_step" type="text" value="10">
<br>
<label>Iterações</label><input id="iter" type="text" value="100">
<br>

<input id="apply_btn" type="button" value="Apply" onclick="apply()">


<br>
<button id="resetButton">Reset</button>



<script src="/static/jquery-3.2.1.min.js"></script>
<script src="/static/canvasjs.min.js"></script>
<script>

drange=function(start, stop, step){

    i=1;
    ret=[];
    ret[0]=start;
    while (ret[i-1]<stop){
        ret[i]=ret[i-1]+step;
        i++;
    }
    return ret;

}

var x_n_step=10;
var y_n_step=10;
var max_iterations=100;

click_event_handler=function(e){

}

 vec2xy=function (v){
     xy=[];
     for (var i=0;i<v[0].length;i++){

         xy.push({x:parseFloat(v[0][i]),y:parseFloat(v[1][i])});
     }
     return xy;
 }


baker_map=function(x_start, x_end, y_start, y_end, x_n_step=10,y_n_step=10, max_iterations=100){

    v_x_out = []
    v_y_out = []

    step=(x_end-x_start)/x_n_step
    x_starts = drange(x_start, x_end, step);

    step=(y_end-y_start)/y_n_step
    y_starts = drange(y_start, y_end, step);



    for (var j=0;j< x_starts.length;j++){


        for (var k=0;k< y_starts.length;k++){
            x = x_starts[j];
        y = y_starts[k];
        i = 0;
        while (i < max_iterations){

            v_x_out.push(x);
            v_y_out.push(y);
            if ( 0<=x && x< 0.5){
                x = 2.0 * x;
                y = y / 2.0;
            }
            else if ( x>= 0.5 && x<1){
                x = 2 - 2.0 * x;
                y = 1 - y / 2.0;
            }
            i += 1;
        }}
    }
    return [v_x_out, v_y_out]
}
var chart=null;



range_change_event_handler=function(e){


    console.log(e);
    if (e.trigger != "reset"){
    range_change([e.axisX[0]["viewportMinimum"],e.axisX[0]["viewportMaximum"]],
            [e.axisY[0]["viewportMinimum"],e.axisY[0]["viewportMaximum"]],)
    }else{
        reset();
    }

}

range_change=function(xlim,ylim){

    //console.log(step);
    p=vec2xy(baker_map(xlim[0],
            xlim[1],
            ylim[0],
            ylim[1],x_n_step,y_n_step,max_iterations));
    chart.options.data[0].dataPoints = p;
    chart.render();
}












window.onload = function () {

    p=[]

 chart = new CanvasJS.Chart("chartContainer", {
    title:{
        text: "Baker's map"
    },
    theme: "light2",
    animationEnabled: false,
    zoomEnabled: true,
    zoomType:"xy",
    rangeChanging:range_change_event_handler,
    axisX: {
        title:"x",
            maximum: 0.99999,
            minimum: 0,
    },
    axisY:{
        title: "y",
            maximum: 0.99999,
            minimum: 0,
    },
    data: [{
        mouseover:click_event_handler,
        click:click_event_handler,
        markerType:"circle",
        markerSize:1,
        markerColor: "#000080",
        type: "scatter",
        toolTipContent:null,
        //toolTipContent: "<b>r: </b>{x}<br/><b>x: </b>{y}",
        dataPoints: p

    }]
});


chart.render();
apply();
}

//Resetting the axis programatically by setting viewportMinimum and viewportMaximum to null

reset=function(){
    chart.axisX[0].set("viewportMinimum", null, false);
    chart.axisX[0].set("viewportMaximum", null, false);


    chart.axisY[0].set("viewportMinimum", null, false);
    chart.axisY[0].set("viewportMaximum", null, false);
    //range_change([chart.axisX[0]["viewportMinimum"],chart.axisX[0]["viewportMaximum"]],
      //      [chart.axisY[0]["viewportMinimum"],chart.axisY[0]["viewportMaximum"]])

      p=vec2xy(baker_map(0.01,
            0.99999,
            0.01,0.99999,10,10,100));
    chart.options.data[0].dataPoints = p;
    chart.render();

}

apply=function(){

    //range_change([chart.axisX[0]["viewportMinimum"],chart.axisX[0]["viewportMaximum"]],
      //      [chart.axisY[0]["viewportMinimum"],chart.axisY[0]["viewportMaximum"]])


      x_n_step=parseInt($("#x_n_step").val());
      y_n_step=parseInt($("#y_n_step").val());
      max_iterations=parseInt($("#iter").val());

      console.log(x_n_step);
      console.log(y_n_step);
      console.log(max_iterations);


      p=vec2xy(baker_map(chart.axisX[0]["viewportMinimum"],
              chart.axisX[0]["viewportMaximum"],
            chart.axisY[0]["viewportMinimum"],
            chart.axisY[0]["viewportMaximum"],x_n_step,y_n_step,max_iterations));
    chart.options.data[0].dataPoints = p;
    chart.render();

}

$("#zoomPanButton").click(function(){
    $(".canvasjs-chart-toolbar button:eq(0)").click();
    return false;
});
$("#resetButton").click(reset);


</script>
</body>
</html>